/*Глобальные стили*/
.visually-hidden {

}

.button {
  padding: 10px 20px;
  color: #fefefe;
  size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);*/
  text-decoration: none;
  outline: none;
  background-color: transparent;
}

.container {
  margin: 0 auto;
/*  padding: 0 30px;*/
  width: 1200px;
}

/*Стили для Body*/
body {
  min-width: 1200px;
  margin: 0;
  background-color: #849d8f;
}

                              /*Главная страница*/

.body-main {
  
}

.body-main > input {
  display: none;
}
              /*Шапка сайта*/

                              /*Блок .header-main*/

.header-main {
  display: flex;
}

                              /*Блок .navigation*/

.navigation {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

                              /*Блок .logo*/

.logo {
  margin-right: 20px;
}

                              /*Блок .main-menu*/

.main-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  margin-right: 30px;
}

.main-menu__list {
  display: none;
}

                              /*Блок .search*/

                              /*Блок .user-menu*/

                              /*Блок .cart*/

                              /*Блок .info-block*/



              /*Основной контент*/

.main-content {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
}

                              /*Блок .slider*/

.slider {
  padding: 0 30px;
}

                              /*Блок .promo-block*/

.promo-block {
  padding: 0 30px;
  min-width: 1140px;
}

.promo-block__list {
  display: flex;
  justify-content: space-between;
}

.promo-block__item {
  width: 560px;
}

                              /*Блок .popular*/

.popular {
  padding: 0 30px;
  width: 1140px;
}

.popular__list {
  display: flex;
  justify-content: space-between;
}

.popular__item {
  width: 267px;
}

                              /*Блок .advantages*/

.advantages {
  /*margin: 0;*/
  /*padding: 20px;*/
  padding: 0 30px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__item {
  width: 485px;
  margin-bottom: 20px;
  padding-left: 55px;
}

                              /*Блок .blog*/


                              /*Блок .subscribe*/

.subscribe {
  width: 560px;
}

                              /*Блок .contacts*/

.contacts {
  width: 1200px;
  padding: 0;
}

              /*подвал*/

                              /*Блок .footer-main*/

.footer-main {
  display: flex;

}

                              /*Блок .social-block*/

                              /*Блок .footer-info*/

                              /*Блок .htmlacademy*/


            /*Страница каталога*/

.inner-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

                              /*Блок .breadcrumbs*/

.breadcrumbs__list {
  display: flex;
}

                              /*Блок .filter*/

.filter__form {
  display: flex;
  flex-wrap: wrap;
}

.filter__list {
  display: flex;
}

                              /*Блок .products*/

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  width: 267px;
}

                              /*Блок .pagination*/

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
}